# Dependencias
node_modules/
npm-debug.log
yarn-error.log

# Archivos de ambiente
.env.local
.env.*.local

# Output
dist/
dist-ssr/
.cache/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
